body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

/* LAYOUT */
.App {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
}
#pomodoro {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

#pomodoro > * {
  display: grid;
  justify-content: center;
  align-content: center;
}
#timer-label {
  grid-column: span 3;
}
#time-left {
  grid-column: span 3;
  grid-row: span 3;
}
#start_stop,
#reset {
  grid-row: span 2;
}

#session,
#break {
  grid-row: span 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}
#session > *,
#break > * {
  display: grid;
  justify-content: center;
  align-content: center;
}
#session-label,
#break-label {
  grid-column: span 3;
}

/* SPACING */
.App {
  padding: 2em;
}
#pomodoro {
  padding: 2em;
  grid-gap: 2em;
}

/* font */
#timer-label {
  font-size: 4em;
}
#time-left {
  font-size: 10em;
}
button {
  font-size: 5em;
}
button:hover {
  cursor: pointer;
}
#start_stop,
#reset {
  font-size: 2.5em;
}
#session-label,
#break-label {
  font-size: 2.5em;
}
#session-length,
#break-length {
  font-size: 3em;
}

/* Color */
body {
  background: #eee;
}
#pomodoro {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: white;
}
#time-left {
  border: 10px solid #1b1b1b;
  border-radius: 20px;
  background: #cfcfcf;
}
button {
  color: white;
  border: 5px solid #000063;
  border-radius: 10px;
  background: #4527a0;
}
button:hover {
  background: #311b92;
}
#session-decrement, #session-increment {
  border-color: #003300;
  background: #2e7d32;
}
#session-decrement:hover, #session-increment:hover {
background: #1b5e20;
}
#break-decrement, #break-increment {
  border-color: #8e0000;
  background:#c62828;
}
#break-decrement:hover, #break-increment:hover {
background: #b71c1c;
}

/* color: session */
.Session #pomodoro {
  background: #c8e6c9;
}
.Session #timer-label {
  color: #003300;
}
.Session #time-left {
  background: #81c784;
}

/* color: break */
.Break #pomodoro {
  background: #ffcdd2;
}
.Break #timer-label {
  color: #8e0000;
}
.Break #time-left {
  background: #e57373;
}
